
<div class="mb-3" id="">
    <label  class="form-label">Agregar tipo de cliente</label>
    <div class="col-auto col-md-3">
        <input type="text" class="form-control" id="add_description_customer_type"  value=""/>
    </div>
    
    <button class="btn btn-secondary mt-2" id="add_customer_type">Agregar tipo de cliente</button>
</div>




