@model IEnumerable<Test_Invoice.Common.Entities.CustomerType>


<button class="btn btn-primary mb-5 mt-2" id="on_customer_type_click"> Agregar tipo de cliente </button>
<table id="list_customer_type" class="display table" >                                                                  
    <thead>                                                              
    <tr>                                                                 
        <th class="bg-black text-white">Description</th> 
        <th>Opciones</th>
    </tr>                                                                
    </thead>                                                             
    <tbody>                                                              
    @foreach (var item in  Model)                               
    {                                                                    
        <tr>                                                             
            <td> @item.Description</td>         
            <td>
                <ul>
                    <li class="btn btn-primary" style="background-color: white">
                        @Html.ActionLink("Actualizar","UpdateCustomerType", new {id = item.Id})
                    </li>

                          <li class="btn btn-warning" >
                                            @Html.ActionLink("Eliminar","RemoveCustomerType", new {id = item.Id})
                                            </li>
                </ul>
            </td>
        </tr>                                                            
    }                                                                    
    
    </tbody>                                                             
</table>            


