
@model Test_Invoice.Common.Entities.CustomerType



<div class="mb-3" id="">
    <label class="form-label">Actualizar tipo de cliente</label>
    <div class="col-auto col-md-3">
        <h3> @Model.Id</h3>
        <input type="text" class="form-control" id="add_description_customer_type" value="@Model.Description"/>
    </div>

    <button class="btn btn-secondary mt-2" id="update_customer_type">Actualizar</button>
</div>
















